<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="EF_Unity_PostgreSQL" />
    <namespace name="EF_Unity_PostgreSQL.Models.Business"/>
    <namespace name="EF_Unity_PostgreSQL.Models.Context" />
    <namespace name="EF_Unity_PostgreSQL.Models.Repository" />
    <container>
      <!--Service-->
      <register type="IOAuthService" mapTo="OAuthService">
        <lifetime type="singleton" />
      </register>
      <register type="INotificationService" mapTo="NotificationService">
        <lifetime type="singleton" />
      </register>
      <register type="IInvoiceService" mapTo="InvoiceService">
        <lifetime type="singleton" />
      </register>
      <register type="ICreditMemoService" mapTo="CreditMemoService">
        <lifetime type="singleton" />
      </register>
      <register type="ISalesReceiptService" mapTo="SalesReceiptService">
        <lifetime type="singleton" />
      </register>
      <register type="IEstimateService" mapTo="EstimateService">
        <lifetime type="singleton" />
      </register>
      <register type="ICryptoEngine" mapTo="RC5">
        <constructor>
          <param name="securityKey" value="tyurptz"/>
        </constructor>
        <lifetime type="singleton" />
      </register>
      <!--Repository-->
      <register type="ITaxRateContext" mapTo="TaxRateContext">
        <lifetime type="singleton" />
      </register>
      <register type="ITaxRepository" mapTo="TaxRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IOAuthContext" mapTo="OAuthContext">
        <lifetime type="singleton" />
      </register>
      <register type="IOAuthRepository" mapTo="OAuthRepository">
        <lifetime type="singleton" />
      </register>
      <register type="IReportContext" mapTo="ReportContext">
        <lifetime type="singleton" />
      </register>
      <register type="IReportRepository" mapTo="ReportRepository">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
  <connectionStrings>
    <add name="QuickBooks" connectionString="User Id=postgres;Host=localhost;Database=QuickBooks;Password=alex;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
    <!--OAuth -->
    <add key="ConsumerKey" value="qyprdDzmuM0rBxHAxboVdt6hEmay8w" />
    <add key="ConsumerSecret" value="OzAkWoEON3suNDtAwujZEO2M6YjqexTpdBjMELmP" />
    <add key="appToken" value="926acffab65abb4251b9d29b3d7daf2f4bf5" />
    <add key="WebHooksVerifier" value="" />
    <add key="WebhooksEntities" value="invoice,salesReceipt,estimate,creditmemo" />
    <!-- Configurations -->
    <add key="OauthLink" value="https://oauth.intuit.com/oauth/v1" />
    <add key="ServiceContext.BaseUrl.Qbo" value="https://sandbox-quickbooks.api.intuit.com/" />
    <add key="AuthorizeUrl" value="https://appcenter.intuit.com/Connect/Begin" />
    <add key="GetRequestToken" value="https://oauth.intuit.com/oauth/v1/get_request_token" />
    <add key="GetAccessToken" value="https://oauth.intuit.com/oauth/v1//get_access_token" />
    <add key="BaseUrl" value="http://localhost:54175/Home" />
    <add key="DeepLink" value="sandbox.qbo.intuit.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/Log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>